#editChannel{
    max-width: 800px;
    min-width: 400px;
    background-color: white;
    border-radius: 30px 0px 30px 30px; 
    position: absolute;
    top: 50px;
    right: 30px;
    z-index: 15;
    box-shadow: 0px 6px 10px 0px #00000033;
    padding: 40px;
    gap:18px; 
    display: flex;
    flex-direction: column;
    word-break: break-all;

    h4{
        margin: 0px;
        color: #444DF2;
    }

    

    #editChannelHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        img{
            cursor: pointer;
        }

        
    }


    #titleHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        margin: 0px;
    }
    }

    .add-selection {
        background-color: #444DF2;
        height: 54px;
        width: 125px;
        border-radius: 30px;
        color: white;
        border: unset;
        float: inline-end;
        font-size: 18px;
    
        &:hover {
            opacity: 0.85;
            cursor: pointer;
        }

        .button-container{
            display: flex;
            justify-content: flex-end;
        }
    }

    .disabled-button {
        background-color: gray; 
        color: white; 
      }
}

#editChannelBackground{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 14;
    background-color: rgba(0,0,0,0.5);
    top: 0px;
    left: 0px;
}

@media only screen and (max-width: 768px) {
    #editChannel{
        max-width: unset;
        min-width: unset;
        width: calc(100vw - 120px);
        right: 24px;
        left: 24px;
        padding: 30px 16px;
    }
}