<mat-card class="forgot-password-container br-30">
  <div class="forgot-password-title">
    <div>
      <a (click)="closeForgotPassword()" class="forgot-password-icon">
        <img src="./assets/img/icons/arrow_left_back.svg" />
      </a>
      <h1>Passwort zurücksetzen</h1>
    </div>
    <span>Bitte geben Sie Ihre E-Mail-Adresse ein.</span>
  </div>

  <form [formGroup]="contactForm">
    <div class="user-login-input-container">
      <div class="user-login-box">
        <div class="user-login-icon">
          <img
            [src]="
              isInputActive
                ? './assets/img/icons/mailblack.svg'
                : './assets/img/icons/mailgrey.svg'
            "
          />
        </div>
        <input
          class="user-login-email"
          [ngClass]="{
            warning:
              contactForm.get('emailInput')?.invalid &&
              (contactForm.get('emailInput')?.dirty ||
                contactForm.get('emailInput')?.touched)
          }"
          formControlName="emailInput"
          [placeholder]="'beispielname@email.com'"
          type="email"
          name="email"
          (focus)="isInputActive = true"
          (blur)="isInputActive = false"
          [(ngModel)]="email"
        />
      </div>

      <div
        *ngIf="
          contactForm.controls['emailInput'].invalid &&
          (contactForm.controls['emailInput'].dirty ||
            contactForm.controls['emailInput'].touched)
        "
      >
        <span
          class="required-informations"
          *ngIf="contactForm.controls['emailInput'].errors?.['required']"
          [ngClass]="{ 'warning-text': true }"
        >
          {{ "*Diese E-Mail-Adresse ist leider ungültig." }}
        </span>
        <span
          class="required-informations"
          *ngIf="contactForm.controls['emailInput'].hasError('email')"
          [ngClass]="{ 'warning-text': true }"
        >
          {{ "*Gültige E-Mail-Adresse eingeben." }}
        </span>
      </div>
    </div>
    <div class="forgot-password-info-container">
      <div class="forgot-password-info-box">
        Wir senden Ihnen eine E-Mail, über die Sie Ihr Passwort ändern können.
      </div>
    </div>
  </form>

  <div class="forgot-password-button-container">
    <button
      (click)="resetPassword()"
      class="blue-button"
      mat-raised-button
      [disabled]="isButtonDisabled()"
      [ngClass]="{ 'disabled-button': isButtonDisabled() }"
    >
      E-Mail senden
    </button>
  </div>
</mat-card>
