<mat-card class="user-login-container br-30">
  <span class="user-login-title">
    <h1>Anmeldung</h1>
    Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
    verwendest.
  </span>
  <form [formGroup]="contactForm">
    <div class="user-login-input-container">
      <div class="user-login-box">
        <div class="user-login-icon">
          <img
            [src]="
              isInputActive
                ? './assets/img/icons/mailblack.svg'
                : './assets/img/icons/mailgrey.svg'
            "
          />
        </div>
        <input
          class="user-login-email"
          [ngClass]="{
            warning:
              contactForm.get('emailInput')?.invalid &&
              (contactForm.get('emailInput')?.dirty ||
                contactForm.get('emailInput')?.touched)
          }"
          formControlName="emailInput"
          [placeholder]="'beispielname@email.com'"
          type="email"
          name="email"
          (focus)="isInputActive = true"
          (blur)="isInputActive = false"
        />
      </div>

      <div
        *ngIf="
          contactForm.controls['emailInput'].invalid &&
          (contactForm.controls['emailInput'].dirty ||
            contactForm.controls['emailInput'].touched)
        "
      >
        <span
          class="required-informations"
          *ngIf="contactForm.controls['emailInput'].errors?.['required']"
          [ngClass]="{ 'warning-text': true }"
        >
          {{ "*Diese E-Mail-Adresse ist leider ungültig." }}
        </span>
        <span
          class="required-informations"
          *ngIf="contactForm.controls['emailInput'].hasError('email')"
          [ngClass]="{ 'warning-text': true }"
        >
          {{ "*Gültige E-Mail-Adresse eingeben." }}
        </span>
      </div>
      <div class="user-login-box">
        <div class="user-login-icon">
          <img
            [src]="
              isPasswordInputActive
                ? './assets/img/icons/lockblack.svg'
                : './assets/img/icons/lockgrey.svg'
            "
          />
        </div>
        <input
          class="user-login-password warning"
          [ngClass]="{
            warning:
              contactForm.get('passwordInput')?.invalid &&
              (contactForm.get('passwordInput')?.dirty ||
                contactForm.get('passwordInput')?.touched)
          }"
          formControlName="passwordInput"
          [placeholder]="'Passwort'"
          [type]="isPasswordVisible ? 'text' : 'password'"
          name="password"
          autocomplete
          (focus)="isPasswordInputActive = true"
          (blur)="isPasswordInputActive = false"
        />
        <div class="user-register-passwort-hide">
          <img
            src="{{
              isPasswordVisible ? showPasswordImage : hidePasswordImage
            }}"
            (click)="togglePasswordVisibility()"
            style="cursor: pointer"
          />
          <span
            (click)="togglePasswordVisibility()"
            style="cursor: pointer"
          ></span>
        </div>
      </div>
      <div
        *ngIf="
          contactForm.controls['passwordInput'].invalid &&
          (contactForm.controls['passwordInput'].dirty ||
            contactForm.controls['passwordInput'].touched)
        "
      >
        <span
          class="required-informations"
          *ngIf="contactForm.controls['passwordInput'].hasError('minlength')"
          [ngClass]="{ 'warning-password': true }"
        >
          {{ "*Gültiges Passwort eingeben." }}
        </span>
      </div>

      <span class="user-login-password-restore">
        <a (click)="onForgotPasswordLinkClick()">Passwort vergessen?</a>
      </span>
      <div class="user-login-seperation">
        <div class="user-seperation-bar"></div>
        <span>
          <p>ODER</p>
        </span>
        <div class="user-seperation-bar"></div>
      </div>
      <div class="user-google-login">
        <div>
          <img src="./assets/img/icons/Google.svg" />
        </div>
        <span (click)="loginWithGoogle()"> Anmeldung mit Google </span>
      </div>
      <span *ngIf="loginFailed" id="loginFailed-container">
        {{ loginErrorMessage }}
      </span>

      <div class="user-login-button-container">
        <button
          class="blue-button"
          mat-raised-button
          color="primary"
          (click)="login()"
        >
          Anmelden
        </button>
        <button
          class="white-button"
          mat-stroked-button
          color="primary"
          (click)="guestLogin()"
        >
          Gäste-Login
        </button>
      </div>
    </div>
  </form>
</mat-card>
