#sidenav {
    height: 100%;
    overflow-y: scroll;
    padding: 32px 30px;
    min-width: 366px;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
}


.sidenavHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3{
        font-size: 24px;
        font-weight: 700;
    }
}

.editSquare {

    &:hover {
        filter: invert(11%) sepia(100%) saturate(9000%) hue-rotate(-108deg);
        transform: scale(1.05);
    }
}

.d-none {
    display: none;
}

.myChannelsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add {
   
    &:hover {
        filter: invert(11%) sepia(100%) saturate(9000%) hue-rotate(-108deg);
        transform: scale(1.1);
        cursor: pointer;
    }
}

.addImage {
    width: 17px;
    height: 17px;
}

.myChannelsHeader2 {
    display: flex;
    align-items: center;

    &:hover {
        .arrow_drop_channels {
            filter: invert(11%) sepia(100%) saturate(9000%) hue-rotate(-108deg);
            transform: scale(1.05);
        }

        .workspaces {
            filter: invert(11%) sepia(100%) saturate(9000%) hue-rotate(-108deg);
            transform: scale(1.05);
        }

        .myChannelsHeaderText {
            filter: invert(11%) sepia(100%) saturate(9000%) hue-rotate(-108deg);
            transform: scale(1.01);
        }
    }

    cursor: pointer;
}

.pad-right17 {
    padding-right: 17px;
}

.pad-left18{
    padding-left: 18px;
}

.pad-left40{
    padding-left: 40px;
}

.pad-left60{
    padding-left: 60px;
}

.myChannels {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:6px;
    cursor: pointer;
    word-break: break-word;

    .myChannels-channel{

        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap:12px; 
        width: fit-content;
        padding: 0px 12px 0px 12px;
        border-radius: 30px;

        .myChannels-channel-icon{
            font-family: 'Nunito', sans-serif;
            font-weight: 200;
            font-size: 24px;
            margin: 0px;
        }

        .myChannels-channel-name{
            font-family: 'Nunito', sans-serif;
            font-weight: 200;
            margin: 0px;

        }
        &:hover{
           color: #535AF1;
           background-color: #ECEEFE; 
           font-family: 'Nunito', sans-serif;
           font-weight: 400;
           .myChannels-channel-icon{
            font-weight: 400;
            }
            .myChannels-channel-name{
                font-weight: 400;
            } 
        }
    }
    .myChannels-channel-selected{
        color: #535AF1; 
        background-color: #ECEEFE; 
        .myChannels-channel-icon{
            font-weight: 400;
        }
        .myChannels-channel-name{
            font-weight: 400;
        } 
    }
}

.myMessagesHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;

   // margin-right: 33px;

    &:hover {
        .arrow_drop {
            filter: invert(11%) sepia(100%) saturate(9000%) hue-rotate(-108deg);
            transform: scale(1.05);
        }

        .accountIcon {
            filter: invert(11%) sepia(100%) saturate(9000%) hue-rotate(-108deg);
            transform: scale(1.05);
        }

        .myMessagesHeaderText {
            filter: invert(11%) sepia(100%) saturate(9000%) hue-rotate(-108deg);
            transform: scale(1.01);
        }
        cursor: pointer;
    }
}

.myMessagesContainer {
    width: 100%;
    //display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    
    width: 240px;
    height: 60px;
    border-radius: 37px;
    margin-top: 8px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover {
        background-color: rgba(155, 150, 250, 0.37);
        cursor: pointer;
    }
}

.addChannel {
    
    padding-top: 20px;
    display: flex;
    align-items: center;
  /*
    display: flex;
    justify-content: center;
    align-items: center;
*/

    &:hover {
        filter: invert(11%) sepia(100%) saturate(9000%) hue-rotate(-108deg);
        transform: scale(1.01);
        cursor: pointer;
    }
}

.myMessages {
    display: flex;
   flex-direction: column;
}
#sidenav-mobile-searchbar{
    display: none;
}

@media only screen and (max-width: 768px) {

    #sidenav{

        border-radius: 0px;

        .sidenavHeader{
            display: none;
        }
        #sidenav-mobile-searchbar{
            display: block;    
        }
    }
}