<div class="addUserToChannelContainer">

    <div class="headerContainer">
        <h3 class="headerText">Leute hinzufügen</h3>
        <img (click)="closeDialog()" class="close" src="/assets/img/icons/close.svg">
    </div>

    <mat-radio-group class="radioButtonContainer" [(ngModel)]="selectedOption">
        <mat-radio-button value="1">Alle Mitglieder von ... hinzufügen</mat-radio-button>
        <mat-radio-button value="2">Bestimmte Leute hinzufügen</mat-radio-button>
        <!-- <input *ngIf="selectedOption == '2'" class="addUserToChannelDialogInput"> -->
        <app-searchbar *ngIf="selectedOption == '2'" 
            [types]="'users'" 
            [action]='channel'
            [setStyle]="'channelOption'"
            (updatedChannelModel)="handleChannelUserUpdate($event)">
        </app-searchbar>
    </mat-radio-group>

    <div class="addUserToSelectionContainer">
        <button (click)="createChannel()" class="addUserToSelection">Erstellen</button>
    </div>

</div>