<div class="message" *ngIf="user">
    <div *ngIf="user.avatar!=''" id="header-user-icon">
        <img  class="avatar0" src="{{user.avatar}}" alt="UserIcon">
        <div id="header-status" 
            [class.col-red]="user.status === 'offline'" 
            [class.col-green]="user.status === 'online'"
            [class.col-gray]="user.status !== 'online' && user.status !== 'offline'"  
            matTooltip="{{user.status}}" 
            [matTooltipShowDelay]="500">
        </div>
    </div>
    <div id="header-user-name">
        <b>{{user.fullName}}</b>
        <b *ngIf="user.id == userService.currentUser.id">&nbsp;(Du)</b>
    </div>
</div>