<div id="searchfield-container" [ngClass]="styleType" *ngIf="options">

  <input #searchField id="searchfield" type="text" placeholder="Code learning durchsuchen" [matAutocomplete]="auto"
    [matChipInputFor]="chipGrid" [formControl]="headerControl" matInput>

  <mat-chip-grid #chipGrid class="chip">
    <mat-chip-row (removed)="remove(user)" *ngFor="let user of editableChannelUsers; let i = index">
      <div class="mat-chip-content">
        <img src='{{user.avatar}}' class="inputAvatar">
        <div> {{ user.fullName }}</div>
        <button matChipRemove [attr.aria-label]="'remove ' + user">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </mat-chip-row>
  </mat-chip-grid>

  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="add($event.option.value)">
    <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">

      <div *ngIf="option.type === 'user'; else channel">
        <img class='user-img' src="{{ option.avatarSrc }}">
        {{ option.name }}
      </div>

      <ng-template #channel>
        {{ option.name }}
      </ng-template>

    </mat-option>
  </mat-autocomplete>

  <img id="searchfield-icon" src="/assets/img/icons/search_gray.svg" alt="search"
    *ngIf="styleType=='header' ||  styleType=='sideNavMobile'">
</div>