#searchfield-container {
    position: relative;
    padding: 0;
    border: none;

    #searchfield {
        position: relative;
        margin: 0;
        padding: 0px 0px 0px 24px;

        height: 60px;
        width: calc(100% - 48px);
        font-size: 20px;
        display: flex;

        border: 1px solid #ADB0D9;
        border-radius: 42px;

    }

    #searchfield-icon {
        position: absolute;
        top: 18px;
        height: 24px;
        right: 36px;
        width: 35px;
    }

    mat-chip-row {

        .mat-chip-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;

            .inputAvatar {
                width: 28px;
                height: 25px;
                border-radius: 15px;
            }
        }

    }
}


/*
.sideNavMobile {

    .testcontainer {
        display: flex;
        width: 100%;

        #searchfield {
            border: 1px solid #ADB0D9 !important;
            padding: 0px 12px !important;
            font-size: 18px !important;
            width: calc(100% - 48px) !important;
        }

    }

    #searchfield-icon {
        top: 18px !important;
        width: 24px !important;
    }
}
*/

.channelOption {
    border: solid 1px #ADB0D9;
    border-radius: 30px;
    padding: 8px;
}


.header{
    input{
        border: solid 0px #ADB0D9 !important; 
    }
}





//Autocomplete-Dropdown Style Adaptions
::ng-deep .mdc-list-item__primary-text {
    display: flex;
    align-items: center;
    gap: 8px;

    .user-img {
        height: 24px;
        aspect-ratio: 1;
    }
}

//Autocomplete-Dropdown Style Adaptions
::ng-deep .cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
    border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    #header-searchfield-container {
        #header-searchfield {
            border: 1px solid #ADB0D9;
        }
    }

}